/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background: #bac38794;
    font-size: 1.1rem;
    font-family: 'Quicksand',
}

.container {
    margin: 4rem auto;
    padding: 2rem 3rem 3rem;
    max-width: 500px;
    background: #67a4ab;
    color: #FFF;
    box-shadow: -20px -20px 0px 0px rgba(100, 100, 100, .1);
}

.container h1 {
    font-weight: normal;
    font-size: 2.6rem;
    letter-spacing: 0.05em;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
}

.container ul {
    margin-top:2.6rem;
	list-style:none;
}

.container li {
    display:flex;
	margin:0 -3rem 4px;
	padding:1.1rem 3rem;
	justify-content:space-between;
	align-items:center;
	background:rgba(255,255,255,0.1);
}

input::placeholder{
    opacity: 0.5;
    font-size: .8em;
}


.form-control {
    width: 400px;
}



.btn-close {
    float: right;
    margin-top: auto;
    font-size: 11px;
    display: none;
}

li:hover .btn-close {
    display: block;
}

.task-counter {
    margin: 0%;
    float: inline-start;
    font-size: 14px;
}